body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#header {
    border: 1px black solid;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container {
    border: 1px solid red;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

#main {

}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#formpopup {
    width: 250px;
    background-color: #EFD3CD;
    margin: 15% auto;
    padding: 10px;
    font-size: 14px;
}

